.gamestats {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;

  > span {
    position: fixed;
    font-size: 24px;
    right: 20px;
  }

  .lives {
    top: 160px;
  }

  .score {
    top: 80px;
  }

  .level {
    top: 120px;
  }
}
